<div class="backposter">
  <div class="poster"></div>
  <h1 class="title">About me</h1>
</div>

<h1 class="pagetitle">About me</h1><br />
<ul>
  <div>
    <img class="mypic" src="picture1.png" />
  </div>

  <div class="myinfo">
    <p>Name: Bosai Sun</p>
    <p>E-mail: Bosaisun@gmail.com</p>
    <p>Phone Number: +46 723708797</p>
    <p>Dream: To be a network security engineer or a hacker.</p>
  </div>
</ul>