<div class="backposter">
  <div class="poster"></div>
  <h1 class="title">Contact me</h1>
</div>

<h2 class="pagetitle">Your address</h2>
<div class="blank">
  <div class="blankleft">
    <p>First name</p>
    <input type="text" />
  </div>
  <div class="blankright">
    <p>Last Name</p>
    <input type="text" />
  </div>
</div>

<div class="blank">
  <div class="blankleft">
    <p>Phone Number</p>
    <input type="text" />
  </div>
  <div class="blankright">
    <p>E-mail</p>
    <input type="text" />
  </div>
</div>

<div class="question">
  <div class="questionleft">
    <p>Question</p>
    <textarea class="questiontext"></textarea>
  </div>
</div>
<div>
  <button class="submitbtn">Submit</button>
</div>