<div class="backposter">
  <div class="poster"></div>
  <h1 class="title">Delete tools</h1>
</div>

{{#if errorMessages.length}}
  <p>Couldn't Delete the tools because:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

<h1 class="pagetitle">Delete Tools</h1><br />
<form action="/tools/delete" method="post">

  <div class="blank">
    <div class="blankleft">
      <p>Title:</p>
      <input type="text" class="typeblank" name="title" value="{{title}}" />
    </div>
  </div>

  <input type="submit" class="submitbtn" value="Delete" />

</form>