<div class="backposter">
  <div class="poster"></div>
  <h1 class="title">Information Collection</h1>
</div>

<main>
  <div class="cardgrid">
    <div class="card">
      <a class="cardtitle" href="https://nmap.org/ncat/">Netcat</a>
      <p>Time: 2022-9-26</p>
      <br />
      <a href="/informationcollection">🏷️ Information Collection</a>
    </div>

    <div class="card">
      <a
        class="cardtitle"
        href="https://github.com/7kbstorm/7kbscan-WebPathBrute"
      >7kbscan</a>
      <p>Time: 2022-9-22</p>
      <br />
      <a href="/informationcollection">🏷️ Information Collection</a>
    </div>

    <div class="card">
      <a
        class="cardtitle"
        href="https://github.com/0x727/ShuiZe_0x727"
      >ShuiZe</a>
      <p>Time: 2022-9-22</p>
      <br />
      <a href="/informationcollection">🏷️ Information Collection</a>
    </div>
    <div class="card">
      <a
        class="cardtitle"
        href="https://github.com/awake1t/PortBrute"
      >PortBrute</a>
      <p>Time: 2022-9-19</p>
      <br />
      <a href="/informationcollection">🏷️ Information Collection</a>
    </div>
  </div>
</main>

<nav class="pagination">
  <a class="pagenumber" href=""> 1 </a>
  ɞ
</nav>