body {
  margin: 0;
  padding: 0;
  background-color: #f5f8fa;
  font-family: "Times New Roman", Times, serif;
}

/* navbar */

.navbar {
  opacity: 65%;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
}

.navbar ul {
  width: 60em;
  margin: 0 auto;
}

.navbar ul li {
  float: left;
  width: 130px;
  text-align: center;
  list-style: none;
}

.navbar ul li a {
  color: rgb(0, 0, 0);
  font-size: 21px;
  text-decoration: none;
  font-weight: bolder;
  display: block;
}

.navbar li a:hover {
  text-decoration: none;
  color: rgb(255, 106, 106);
}

.searchbar {
  margin-left: 30px;
  width: 140px;
  height: 18px;
  font-size: 14px;
  border-width: 1.5px;
  border-radius: 5px;
}

.searchtext {
  font-size: 14px;
  border-radius: 3px;
}
/* navbar */

/* poster */

.poster {
  background-image: url(https://pic1.zhimg.com/v2-e6e4b33f48af3480e1390c37f91282a4_r.jpg?source=1940ef5c);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 80px;
  margin-top: 250px;
  margin-bottom: 365px;
  -webkit-text-stroke: 1.6px rgb(255, 255, 255);
}

/* poster */

/* card */
.card {
  border-style: solid;
  border-width: 1px;
  float: left;
  width: 200px;
  padding: 40px 23px 45px 40px;
  border-radius: 24px;
}

.cardtitle {
  font-size: 25px;
  font-weight: bold;
}

.cardtitle:hover {
  text-decoration: none;
  color: rgb(255, 106, 106);
}

.card p {
  font-weight: normal;
  font-size: 18px;
}

.card a {
  text-decoration: none;
}

/* card */

/* pagination */
.pagination {
  margin-top: 2.5%;
  text-align: center;
}

.pagenumber a {
  margin-right: 3px;
}

.pagenumbernow {
  font-size: 19px;
  margin-right: 5px;
}

.pagination a {
  font-size: 17px;
  margin-right: 5px;
  text-decoration: none;
}

.pagination a:hover {
  text-decoration: none;
  color: rgb(255, 106, 106);
}

.pagenumbernow:hover {
  text-decoration: none;
  color: rgb(255, 106, 106);
}
/* pagination */

/* footer */

.foot {
  margin: 40px auto 10px auto;
  text-align: center;
}

.fotterbox {
  position: relative;
  top: 1em;
  width: 100%;
  height: 8em;
  background-color: #fdfdf9;
  display: flex;
  margin: 0 0;
  border-top: solid;
  border-width: 0.2px;
  opacity: 78%;
}

.fotterbox ul {
  margin-top: 6px;
  font-size: 0.95em;
  margin-right: 3.125em;
  color: rgb(0, 0, 0);
  line-height: 1.25em;
}

/* footer */

/* grid */
.cardgrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 30px;
  margin-left: 12.2%;
  margin-right: 11%;
  margin-top: 25%;
}
/* grid */

/* maintitle */
.pagetitle {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: -0.2%;
  margin-left: 29%;
}

.blank {
  display: flex;
  margin-top: 1.5%;
  list-style: none;
}

.blankleft {
  width: 300px;
  height: 48px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  margin-left: 430px;
  display: flex;
  list-style: none;
}

.blankleft p {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-top: 10px;
  margin-left: 20px;
  padding-right: 10px;
  border-right: 1px solid #9f9f9f;
  font-size: 14px;
  list-style: none;
}

.blankleft input {
  border: 0px;
  width: 100%;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  list-style: none;
}

.blankright {
  width: 280px;
  height: 48px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  display: flex;
  margin-left: 20px;
  list-style: none;
}

.blankright p {
  display: inline-block;
  border-right: 1px solid #9f9f9f;
  height: 28px;
  line-height: 28px;
  margin-top: 10px;
  margin-left: 20px;
  padding-right: 10px;
  font-size: 14px;
  list-style: none;
}

.blankright input {
  border: 0px;
  width: 100%;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  list-style: none;
}

.questiontext {
  list-style: none;
  min-width: 171px;
  min-height: 46.5px;
  max-height: 145px;
}

.submitbtn {
  margin-top: 3%;
  margin-left: 47.7%;
  list-style: none;
}

.question {
  display: flex;
  margin-top: 1.6%;
  list-style: none;
}

.questionleft {
  width: 250px;
  height: 48px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  margin-left: 430px;
  display: flex;
  list-style: none;
}

.questionleft p {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-top: 10px;
  margin-left: 20px;
  padding-right: 10px;
  border-right: 1px #9f9f9f;
  font-size: 14px;
  list-style: none;
}
/* maintitle */

/* about me */
.mypic {
  width: 15%;
  height: 37%;
  margin-top: 1%;
  margin-left: 26%;
  margin-bottom: 5%;
}

.myinfo {
  margin-left: 45%;
  margin-top: -20%;
  margin-bottom: 6%;
  font-size: 20px;
}

.notools {
  margin-left: 28.9%;
  font-size: 18px;
}

.toolslist {
  margin-left: 28%;
  margin-top: 1%;
  font-size: 20px;
}

.toolsspecfic {
  margin-left: 29%;
  font-size: 20px;
}

.tools_a {
  text-decoration: none;
}

.tools_a:hover {
  text-decoration: none;
  color: rgb(255, 106, 106);
}
